/* Header */
.hero {
  background-color: lightblue;
  background-image: linear-gradient(140deg, lightblue 0, #007e8d 100%);
}

.hero > h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 80px;
  color: white;
  text-align: left;
}

.hero-body {
  padding: 1rem;
  max-height: 400px;
}

.hero-body > main {
  border: 2px solid white;
  margin-top: 3rem;
  padding: 5rem 2rem;
  border-radius: 1rem;
}

.doggy {
  float: right;
  height: 58vh;
  shape-outside: url('../images/dog.png');
}

/* Main Application View */

#app {
  padding-top: 20px;
}

/* Response Photo Grid */

.animal-pic {
  cursor: pointer;
}

/* Modal Styles */

.map {
  overflow: hidden;
  border: 0;
  height: 300px;
  margin-bottom: 1rem;
}

.map > iframe {
  height: 100%;
  width: 100%;
}
